# Emacs backup files
*~
\#*\#
.\#*

# Compiled Emacs Lisp files
*.elc

# Package builds
*.tar

# Directories used by package managers
.cask/
elpa/

# Undo-tree save files
*.~undo-tree~

# macOS files
.DS_Store
